@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.text-gradient {
    -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-green-border{
    text-shadow: -2px 0 #1DB954, 0 2px #1DB954, 2px 0 #1DB954, 0 -2px #1DB954
}
body{
    background-color: black;
}
